body {
	background-color: #CBD1D5;
}

.main {
	border: 1px;
	border-color: #000000;
	border-style: solid;
	border-collapse: collapse;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	table-layout: fixed;
}
.header-left {
	margin-top: 10px;
	border: 1px;
	border-right: 0px;
	border-color: #000000;
	border-style: solid;
	border-bottom: none;
	height: 100px;
	text-align: center;
	vertical-align: middle;
}
.header-right {
	margin-top: 10px;
	padding-right: 4px;
	border: 1px;
	border-left: 0px;
	border-color: #000000;
	border-style: solid;
	border-bottom: none;
	height: 100px;
	text-align: right;
	vertical-align: top;
}

a:hover {
	background-color: #FFFFFF;
}

a:visted{
	color: #000000;
}

a {
	color: #000000;
	text-decoration: none;
}

#footer {
	text-align: center;
}

#address {
	padding-left: 15%;
	padding-bottom: 3px;
	padding-top: 3px;
}

.flag {
	color: #2DA8FA;
	text-shadow: .5px 1px #0437A6;
}

div.header {
	border: 1px; 
	border-style: solid; 
	padding-left: 20px; 
	padding-right: 20px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-right: 20%; 
	margin-left: 20%; 
	margin-top: 2%; 
	text-align: center
}

div.center {
	margin-right: auto;
	margin-left: auto;
}

td.tag {
	padding-right: 10px;
}

h2.logo-header {
	font-family: sans-serif;
	font-size: 15px;
	color: #1F93E1;
	text-shadow: 1px;
}

img.image-small {
	height: 80%;
	width: 80%;
	display: none;
	margin-right: auto;
	margin-left: auto;
}

















