<!-- 	Dexter King
	IFT 598: Middleware Programming
-->
{% load static %}
<!DOCTYPE html>
<html>
<!-- Start Head -->
<head>
	<meta charset="UTF-8">
	<title>solarPV Client Portal</title>
	<link rel="stylesheet" href="{% static 'solarpvAPP/style.css' %}">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link rel="icon" type="image/png" href="{% static 'solarpvAPP/images/favicon.ico' %}">
</head>
<!-- End Head -->
<!-- Start Body -->
<body>
	<h2 style="margin-bottom: 5px"> Client Portal </h2>
	<hr style="margin-bottom: 3em; color:#2DA8FA">
	<h3> Page under construction </h3>

	<br />
	<div id="footer"> 
			<a href="#" style="padding: 2px;"> Site Map</a> | 
			<a href="#" style="padding: 2px;"> Terms & Conditions</a> | 
			<a href="#" style="padding: 2px;"> Privacy Policy</a> | 
			<a href="#" style="padding: 2px;"> About</a>
	</div>
</body>
</html>
